* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "Inter", system-ui, sans-serif;
  background-color: #121212;
  color: #f5f5f5;
}

/* container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -80px;
  text-align: center;
}

.login-logo{
  display: flex;
  flex-direction: column;
}

.login-logo img {
  width: 12rem;
  margin-bottom: 20%;
}

.login-logo-text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: -43%;
  
}

.login-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.login-form {
  width: 100%;
  max-width: 350px;
}

/* input */
.login-input-box {
  position: relative;
  margin-bottom: 15px;
}

.login-input-box input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #2a2a2a;
  color: #fff;
  transition: background 0.2s;
}

.login-input-box input:focus {
  background-color: #333;
}

/* forgot password */
.login-forgot {
  font-size: 13px;
  color: #aaa;
  text-align: right;
  display: block;
  margin-top: -5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.login-forgot:hover {
  color: #fff;
  text-decoration: underline;
}

/* button */
.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #003366, #002244);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;
}

.login-btn:hover:not(:disabled) {
  opacity: 0.85;
}

.login-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* error */
.login-error {
  color: #ff4d4f;
  margin-top: 10px;
  font-size: 14px;
}

/* sign up link */
.login-switch-text {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}

.login-switch-text a {
  color: #ff3b5c;
  font-weight: 500;
  text-decoration: none;
}

.login-switch-text a:hover {
  text-decoration: underline;
}

/* responsive */
@media (max-width: 480px) {
  .login-logo img {
    width: 10rem;
  }

  .login-logo-text {
    font-size: 18px;
    margin-top: -43%;
  }

  .login-title {
    font-size: 20px;
  }

  .login-input-box input {
    padding: 10px 12px;
    font-size: 13px;
  }

  .login-btn {
    padding: 10px;
    font-size: 14px;
  }

  .login-switch-text {
    font-size: 13px;
  }
}
